<!DOCTYPE html>
<style>
    .red {
        color: red;
    }
</style>
<html>

<head>
    <title>Sports Leagues</title>
</head>

<body>
    {% comment %}
    <h1>Leagues</h1>
    <ol>
        {% for league in leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Teams</h1>
    <ol>
        {% for team in teams %}
        <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Players</h1>
    <ol>
        {% for player in players %}
        <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol> {% endcomment %}
    <h1 class="red">Sports ORM I</h1>
    <h1>Baseball Leagues</h1>
    <ol>
        {% for league in baseball_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Women's Leagues</h1>
    <ol>
        {% for league in women_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Hockey Leagues</h1>
    <ol>
        {% for league in hockey_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Other than Football</h1>
    <ol>
        {% for league in other_than_football %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Conference Leagues</h1>
    <ol>
        {% for league in conference_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Atlantic Leagues</h1>
    <ol>
        {% for league in atlantic_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Dallas Teams</h1>
    <ol>
        {% for team in dallas_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Raptor Teams</h1>
    <ol>
        {% for team in raptor_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>City Teams</h1>
    <ol>
        {% for team in city_teams %}
        <li>{{team.location}} - {{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>T Teams</h1>
    <ol>
        {% for team in t_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Location Ordered Teams</h1>
    <ol>
        {% for team in location_order_teams %}
        <li>{{team.location}} - {{team.team_name}} </li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Inv Location Ordered Teams</h1>
    <ol>
        {% for team in inv_location_order_teams %}
        <li>{{team.location}} - {{team.team_name}} </li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Cooper Last Names</h1>
    <ol>
        {% for player in cooper_players %}
        <li>{{player.last_name}} - {{player.first_name}} </li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Joshua's</h1>
    <ol>
        {% for player in joshua_players %}
        <li>{{player.first_name}} - {{player.last_name}} </li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Exclude Joshua from Coopers</h1>
    <ol>
        {% for player in exclude_joshua_from_coopers %}
        <li>{{player.first_name}} - {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Alexander or Wyatt</h1>
    <ol>
        {% for player in alexanderorwyatt %}
        <li>{{player.first_name}} - {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1 class="red">Sports ORM II</h1>
    <h1>Atlantic Soccer Conference</h1>
    <ol>
        {% for team in asc_teams %}
        <li>{{team.league.name}} - {{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Actual Players in the Boston Penguins</h1>
    <ol>
        {% for player in bp_players %}
        <li>{{player.curr_team.team_name}} - {{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Actual Players in the International Collegiate Baseball Conference</h1>
    <ol>
        {% for player in icbc_players %}
        <li>{{player.curr_team.league.name}} - {{player.curr_team.team_name}} - {{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Actual Players in the American Conference of Amateur Football</h1>
    <ol>
        {% for player in acafl_players %}
        <li>{{player.curr_team.league.name}} - {{player.curr_team.team_name}} - {{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Football Players</h1>
    <ol>
        {% for player in f_players %}
        <li>{{player.curr_team.league.sport}} - {{player.curr_team.team_name}} - {{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Team's with player Sofia</h1>
    <ol>
        {% for team in s_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Leagues with player Sofia</h1>
    <ol>
        {% for league in s_leagues %}
        <li>{{league.name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Player with Last Name Flores</h1>
    <ol>
        {% for player in flores_players %}
        <li>{{player.last_name}} {{player.first_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Samuel Evans Teams</h1>
    <ol>
        {% for team in se_teams %}
        <li>{{team.team_name}} - Samuel Evans</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>All Time Tiger-Cats Players</h1>
    <ol>
        {% for player in tc_players %}
        <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Wichita Vikings Players</h1>
    <ol>
        {% for player in wv_players %}
        <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Teams Jason Gray player before the Oregon Colts</h1>
    <ol>
        {% for team in jg_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Joshua's that have played in the Atlantic Federation of Amateur Baseball Players</h1>
    <ol>
        {% for player in j_players %}
        <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Team's with 12 or more players, all time</h1>
    <ol>
        {% for team in 12_teams %}
        <li>{{team.team_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Players and amount of Teams</h1>
    <ol>
        {% for player in p_players %}
        <li>{{player.x}} - {{player.first_name}} {{player.last_name}}</li>
        {% empty %}
        <p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>

</body>

</html>
